@page
@model SnackisUppgift.Pages.Roles.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <style>
        html, * {
            color: aqua;
        }
        body {
            background-image: url('/Backgroundimages/Chattbild.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: aqua; 
        }

        .blurry-background::before {
            content: "";
            display: block;
            position: fixed;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: inherit;
            filter: blur(5px);
            transform: scale(1.1);
        }
    </style>
</head>
<body class="blurry-background">
    <h1>Roll Admin</h1>

    <div>
        <h3>Befintliga roller</h3>
        @foreach (var role in Model.Roles)
        {
            <p>@role.Name</p>
        }
    </div>
    <div>
        <form method="post">
            <label for="RemoveRoleName">Ta bort roll</label>
            <input name="RemoveRoleName" id="RemoveRoleName" />
            <input type="submit" value="Ta bort roll" />
        </form>
    </div>
    @if (ViewData.ModelState["RoleRemoval"]?.Errors.Count > 0)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState["RoleRemoval"].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <div>
        @if (Model.IsAdmin)
        {
            <p class="alert-success">Du har alla behörigheter</p>
        }
        @if (Model.IsUser)
        {
            <p class="alert-danger">Du har inte alla behörigheter</p>
        }
    </div>
    <div>
        <h3>Befintliga användare:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    @foreach (var role in Model.Roles)
                    {
                        <th>@role.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        @foreach (var role in Model.Roles)
                        {
                            if (await Model._userManager.IsInRoleAsync(user, role.Name))
                            {
                                <td>
                                    <a href="?RemoveUserId=@user.Id&Role=@role.Name" class="bg-success text-white p-1">Ja</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a href="?AddUserId=@user.Id&Role=@role.Name" class="bg-danger text-white p-1">Nej</a>
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <form method="post">
            <label for="RoleName">Ny Roll</label>
            <input name="RoleName" id="RoleName" />
            <input type="submit" value="Skapa ny Roll" />
        </form>
    </div>
</body>
</html>
